spring:
  datasource:
    url: jdbc:mysql://localhost:3306/triviago
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
      time-zone: America/Argentina/Buenos_Aires
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
secret:
  key: 5cad8bfdb69620ee6855759676658dbb5a37b89bb795469148a41f82a1592d034c38b6b04ad874f393dce98e2448198846fb181e6e95bf98afeec937ffd6bbc4f84845b0aee1ae924f58da4a55cef1f4a680971f14424684fef5e9f956a54a64cdf092bb6ed3141b107d117aa84242121487e34c9d0890ab716d4208afa8f8b2
