spring:
  datasource:
    url: jdbc:mysql://localhost:3306/triviago
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
      time-zone: America/Argentina/Buenos_Aires
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
secret:
  key: ${JWT_KEY}